my_alias=se
update_url=
et_mode=local
install_web=OFF
binary_storage_mode=auto
binary_storage_path=
compat_enable=ON
compat_shellcrash=ON
compat_masquerade=ON
compat_fix_metric=ON
compat_lan_if=
compat_tun_if=
core_autostart=ON
start_old=OFF
release_version=latest
machine_id=
hostname=
instance_name=default
network_name=default
network_secret=
dhcp=ON
ipv4=
ipv6=
rpc_portal=0.0.0.0:15888
rpc_portal_whitelist=127.0.0.1,::1/128
no_tun=OFF
disable_encryption=OFF
encryption_algorithm=
disable_ipv6=OFF
accept_dns=OFF
tld_dns_zone=et.net.
default_protocol=udp
private_mode=OFF
latency_first=OFF
enable_exit_node=OFF
proxy_forward_by_system=OFF
compression=none
multi_thread=OFF
multi_thread_count=2
use_smoltcp=OFF
no_listener=OFF
disable_p2p=OFF
p2p_only=OFF
disable_tcp_hole_punching=OFF
disable_udp_hole_punching=OFF
disable_sym_hole_punching=OFF
relay_all_peer_rpc=OFF
disable_relay_kcp=OFF
enable_relay_foreign_network_kcp=OFF
bind_device=OFF
dev_name=
mtu=
foreign_relay_bps_limit=
config_server=
config_server_user=
config_server_machine_id=
config_dir=
disable_env_parsing=OFF
web_console=OFF
web_autostart=OFF
web_console_api_port=11211
web_console_config_port=22020
web_console_config_protocol=udp
socks5_port=
vpn_portal=
quic_listen_port=
enable_kcp_proxy=OFF
disable_kcp_input=OFF
enable_quic_proxy=OFF
disable_quic_input=OFF
tcp_whitelist=
udp_whitelist=
console_log_level=info
file_log_level=info
file_log_dir=
file_log_size=100
file_log_count=10
acl_enable=OFF
acl_config_path=
